*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS*/

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: #0084fd;
}

.bg-light-blue{
    background-color: #b5ddff;;
}

.bg-dark-blue{

}

.text-black{
    color: black;
}

.text-white{
    color: white;
}

.bg-violet{
    background-color:#9792e4;
}

.text-blue{
    color:#0084fd;;
}
/*GENERAL CLASSES*/
ul{
    list-style-type: none;
    padding-left: 20px;
    height: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.button{
    padding: 3px 9px;
    border-radius: 40px;
    text-align: center;
}

.big-card{
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    padding: 10px 35px 0px 35px ;
    color: #526678; 
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
}

.big-card-description{
    width: 100%;
}

.big-card-description>h3,
.big-card-description>p,
.big-card-description>div.button{
    margin-top: 30px;
}

.big-card-description>p{
    line-height: 1.6rem;
    padding-right: 5px;
}

.big-card-description>h3{
    font-size: 1.7rem;
}

.big-card-description>div.button{
    margin-bottom: 40px;
}

.big-card-image{
    width: 100%;
}

.card{
    width:100%;
    margin-top: 20px;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    text-align: center;
    color: #526678; 
    font-weight: bold;
    font-size: 1.1rem;
}

.card>p{
    line-height: 1.6rem;
    padding-right: 5px;
    text-align: center;
}

.card>h3{
    font-size: 1.7rem;
    text-align: center;
}

.card>i{
    font-size: 4rem;
    margin-top: 10px;
    color: #0084fd;
}

.card>h3,
.card>p{
    margin-top: 25px;
}

.card>p{
    margin-bottom: 25px;
}

.section{
    padding: 30px 30px 30px 30px;
}

.card-image{
    width: 100%;
}
/*UTILITIES*/

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/*SECTIONS CLASSES*/

/* NAV SECTION */
.nav-options>ul{
    display: none;
}

nav ul>li{
    margin-right: 20px;
}

nav>ul{
    display: none;
}

nav{
    color: white;
    padding: 10px 30px;
}

.logo-img{
    height: 100%;
}

.mobile-tablet-icon{
    font-size: 2rem;
}

/* DEMO-SECTION*/
.phone-image{
    width: 100%;
    height: 100%;
}

.apple-button{
    width: 73%;
    padding: 11px 15px;
    max-width: 220px;
    min-width: 120px;
}

/*MEDIA QUERY*/

@media screen and (min-width:570px){
    .big-card{
        width: calc((100% / 3) * 2 - 14px );
    }
    
    .card{
        width: calc((100% / 3) - 14px);
    }

    .web-design-card{
        margin-left: 0;
    }

    .gap{
        column-gap: 3%;
    }

    .phone-image{
        width: 70%;
    }

    section.strategic-planning .card{
        width: 100%;
    }

}

@media screen and (min-width:760px){
    
    nav>div.logo-container{
        width: 20%;
    }

    nav>div.nav-options{
        width: 80%;
    }

    .nav-options>ul{
        display: flex;
    }

    .mobile-tablet-icon-container{
        display: none;
    }

    .nav-options{
        justify-content: flex-end;
    }

    .container{
        width: 80%;
    }

    .gap{
        column-gap: 2%;
    }

    .big-card-description{
        width: 40%;
    }

    .big-card-image{
        width: 50%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .phone-image{
        width: 100%;
        min-width: 150px;
    }

    .card{
        width: calc((100% / 3) - 25px);
       }
    
    .big-card{
        width: calc((100% / 3) * 2 - 25px );
    }

    section.strategic-planning .card{
        width: 40%;
    }

    section.strategic-planning .development-card{
        margin-top: 20%;
        width: 30%;
    }
}

@media screen and (min-width:1400px){

   nav>div.logo-container{
    width: 50%;
   }

   nav>div.nav-options{
    width: 50%;
   }

   .card{
    width: calc((100% / 3) - 25px);
   }

   .big-card{
    width: calc((100% / 3) * 2 - 25px );
   }

   .big-card-image{
    margin-top: 30px;
    width: 43%;
   }

   .big-card-description{
    width: 50%;
}

   .phone-image{
    width: 100%;
    min-width: 150px;
   }

   .card{
    padding: 10px 35px 0px 35px;
   }

   .container{
    width: 70%;
   }
    
}

