*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS*/

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: #0084fd;
}

/*GENERAL CLASSES*/
ul{
    list-style-type: none;
    padding-left: 20px;
}