*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS*/

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: #0084fd;
}

.text-black{
    color: black;
}

/*GENERAL CLASSES*/
ul{
    list-style-type: none;
    padding-left: 20px;
    height: 100%;
}

.container{
    width: 62%;
    margin: 0 auto;
}

.button{
    padding: 3px 9px;
    border-radius: 40px;
    text-align: center;
}

/*UTILITIES*/

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

/*SECTIONS CLASSES*/

nav>div{
    width: 48%;
}


nav ul>li{
    margin-left: 20px;
}

nav{
    font-size: 0.95rem;
    color: white;
    padding: 10px 0px;
}

.logo-img{
    width: 11%;
}